.mySwiper{
    width:100%;
    height:100%;
    /* background-color : red; */
}

/* .sliderItem{
    border : 2px solid red;
    background-image: url("../public/img/Banner.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

} */